html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Onest", sans-serif;
  background-color: #fcfcf6;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 18px;
}
body header {
  position: sticky;
  top: -0.25px;
  margin: auto;
  width: 100%;
  height: 80px;
  padding: 45px 0px;
  border-radius: 0px 0px 10px 10px;
  background-color: #fcfcf6;
  backdrop-filter: blur(10px);
  z-index: 100;
}
body header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 50px;
  font-size: clamp(0.5rem, 1.2vw + 0.5rem, 2rem);
  font-weight: 600;
}
@media (max-width: 768px) {
  body header nav {
    gap: 20px;
  }
}
@media (max-width: 576px) {
  body header nav {
    font-size: clamp(0.5rem, 0.5vw + 0.5rem, 2rem);
  }
}
body header nav a {
  color: #120f0d;
  opacity: 0.9;
  transition: 0.2s;
}
body header nav a:hover {
  color: #F28C5C;
  transition: 0.2s;
}
body header nav hr {
  position: absolute;
  bottom: 0px;
  margin: 0px;
  width: 20%;
  height: 4px;
  border: none;
  border-radius: 50px;
  background-color: #120f0d;
  opacity: 0.9;
  transition: 0.7s;
}
body main .hero-section {
  position: sticky;
  top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0px 0px 400px;
  margin: 0px auto;
  width: 100%;
}
@media (max-width: 1024px) {
  body main .hero-section {
    top: 100px;
    width: 85%;
  }
}
@media (max-width: 768px) {
  body main .hero-section {
    width: 90%;
    padding: 0px 0px 480px;
  }
}
body main .hero-section .presentacion-hero-section {
  width: 1000px;
  height: 70%;
  margin-bottom: 40px;
  cursor: default;
}
@media (max-width: 1024px) {
  body main .hero-section .presentacion-hero-section {
    width: 100%;
  }
}
body main .hero-section .presentacion-hero-section h1 {
  display: inline-block;
  margin-bottom: 30px;
  font-size: clamp(1rem, 2vw + 1rem, 4rem);
  font-weight: 800;
  color: rgba(28, 28, 180, 0.8);
}
@media (max-width: 1024px) {
  body main .hero-section .presentacion-hero-section h1 {
    font-size: clamp(1.5rem, 2vw + 1.5rem, 3rem);
  }
}
@media (max-width: 768px) {
  body main .hero-section .presentacion-hero-section h1 {
    font-size: clamp(1rem, 2vw + 1.5rem, 2.5rem);
  }
}
@media (max-width: 576px) {
  body main .hero-section .presentacion-hero-section h1 {
    margin-bottom: 10px;
    font-size: clamp(0.5rem, 4vw + 0.5rem, 3rem);
  }
}
body main .hero-section .presentacion-hero-section .emoji-titulo {
  width: 150px;
  margin-top: 70px;
}
@media (max-width: 1024px) {
  body main .hero-section .presentacion-hero-section .emoji-titulo {
    width: 100px;
  }
}
@media (max-width: 576px) {
  body main .hero-section .presentacion-hero-section .emoji-titulo {
    width: 30px;
  }
}
body main .hero-section .presentacion-hero-section .corchete-izq {
  margin-left: 20px;
  font-size: clamp(3rem, 2vw + 3rem, 6rem);
  font-weight: 700;
  color: #844984;
}
@media (max-width: 576px) {
  body main .hero-section .presentacion-hero-section .corchete-izq {
    margin-left: 10px;
    font-size: clamp(1.5rem, 2vw + 1.5rem, 4rem);
  }
}
body main .hero-section .presentacion-hero-section .corchete-der {
  margin-left: 5px;
  color: #844984;
  font-size: 1.3em;
  font-weight: 700;
}
body main .hero-section .presentacion-hero-section .descripcion {
  width: 100%;
  margin-bottom: 50px;
  font-size: clamp(0.7rem, 1vw + 0.8rem, 2rem);
  line-height: 45px;
  color: rgba(17, 17, 17, 0.7019607843);
}
body main .hero-section .presentacion-hero-section .descripcion .naranja {
  color: #F28C5C;
}
@media (max-width: 1024px) {
  body main .hero-section .presentacion-hero-section .descripcion {
    margin-top: 5px;
    font-size: clamp(0.7rem, 1.5vw + 0.7rem, 2.2rem);
    line-height: 40px;
  }
}
@media (max-width: 768px) {
  body main .hero-section .presentacion-hero-section .descripcion {
    font-size: clamp(0.5rem, 1vw + 1rem, 1.5rem);
    line-height: normal;
  }
}
@media (max-width: 576px) {
  body main .hero-section .presentacion-hero-section .descripcion {
    font-size: clamp(0.5rem, 1vw + 1rem, 2rem);
  }
}
@media (max-width: 400px) {
  body main .hero-section .presentacion-hero-section .descripcion {
    font-size: clamp(0.5rem, 1vw + 0.5rem, 1.5rem);
  }
}
body main .hero-section .presentacion-hero-section .skills-stack {
  display: flex;
  gap: 50px;
  font-size: clamp(1rem, 1vw + 0.8rem, 4rem);
  font-weight: 800;
  color: #120f0d;
  cursor: default;
}
@media (max-width: 576px) {
  body main .hero-section .presentacion-hero-section .skills-stack {
    gap: 20px;
  }
}
body main .hero-section .presentacion-hero-section .skills-stack .svg-tech {
  display: flex;
  gap: 40px;
}
@media (max-width: 576px) {
  body main .hero-section .presentacion-hero-section .skills-stack .svg-tech {
    gap: 30px;
  }
}
body main .hero-section .presentacion-hero-section .skills-stack .svg-tech svg {
  width: 30px;
  height: 30px;
}
@media (max-width: 576px) {
  body main .hero-section .presentacion-hero-section .skills-stack .svg-tech svg {
    width: 25px;
    height: 25px;
  }
}
body main .sections-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 90px;
  width: 100%;
  padding: 50px 0px 200px;
  border-radius: 30px 30px 0px 0px;
  background-color: #120f0d;
  box-shadow: 0px 0px 150px 50px inset #0f0d0c, 0px -250px 150px 30px #fcfcf6;
  z-index: 10;
}
@media (max-width: 768px) {
  body main .sections-container {
    gap: 60px;
    box-shadow: 0px 0px 150px 50px inset #0f0d0c, 0px -250px 100px 40px #fcfcf6;
  }
}
body main .sections-container .titulo-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 20px;
  width: 95%;
  cursor: default;
  color: #fcfcf6;
}
@media (max-width: 768px) {
  body main .sections-container .titulo-section {
    gap: 5px;
    margin-left: 30px;
  }
}
@media (max-width: 576px) {
  body main .sections-container .titulo-section {
    margin-left: 0px;
  }
}
body main .sections-container .titulo-section .linea-separadora {
  width: 100px;
  height: 5px;
  border-radius: 20px;
  margin: 0px 0px 20px;
  background-color: #fcfcf6;
}
@media (max-width: 768px) {
  body main .sections-container .titulo-section .linea-separadora {
    width: 60px;
    margin: 0px 0px 8px;
  }
}
body main .sections-container .titulo-section h2 {
  margin: 0px;
  font-size: clamp(2rem, 1.5vw + 2rem, 4.5rem);
}
@media (max-width: 768px) {
  body main .sections-container .titulo-section h2 {
    font-size: clamp(1rem, 1vw + 1rem, 2.5rem);
  }
}
body main .sections-container .titulo-section .emoji-section {
  width: 100px;
  margin: 0px 0px 20px;
}
@media (max-width: 1024px) {
  body main .sections-container .titulo-section .emoji-section {
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  body main .sections-container .titulo-section .emoji-section {
    width: 60px;
    margin-bottom: 5px;
  }
}
@media (max-width: 576px) {
  body main .sections-container .titulo-section .emoji-section {
    width: 40px;
    margin: 0px 0px 5px;
  }
}
body main .sections-container .titulo-section .emoji-sobre-mi {
  margin-left: 10px;
  margin-right: 10px;
  width: 70px;
}
@media (max-width: 768px) {
  body main .sections-container .titulo-section .emoji-sobre-mi {
    width: 50px;
    margin-bottom: 0px;
  }
}
@media (max-width: 576px) {
  body main .sections-container .titulo-section .emoji-sobre-mi {
    width: 40px;
  }
}
body main .sections-container .titulo-section span {
  font-size: clamp(2rem, 2vw + 2rem, 7rem);
  font-weight: 600;
  margin: 0px 0px 5px;
}
@media (max-width: 768px) {
  body main .sections-container .titulo-section span {
    font-size: clamp(0.5rem, 1.5vw + 1rem, 5rem);
  }
}
body main .sections-container .section-sobre-mi {
  width: 100%;
  margin-bottom: 350px;
}
@media (max-width: 768px) {
  body main .sections-container .section-sobre-mi {
    margin-bottom: 300px;
  }
}
@media (max-width: 576px) {
  body main .sections-container .section-sobre-mi {
    margin-bottom: 200px;
  }
}
@media (max-width: 400px) {
  body main .sections-container .section-sobre-mi {
    margin-bottom: 250px;
  }
}
body main .sections-container .section-sobre-mi .article-sobre-mi {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 576px) {
  body main .sections-container .section-sobre-mi .article-sobre-mi {
    padding-top: 50px;
    border-radius: 40px;
    background-color: #040403;
    box-shadow: #000 0px 0px 40px 30px;
  }
}
body main .sections-container .section-sobre-mi .article-sobre-mi .texto-sobre-mi {
  position: absolute;
  width: 17%;
  height: 100%;
  z-index: 10;
}
@media (max-width: 1024px) {
  body main .sections-container .section-sobre-mi .article-sobre-mi .texto-sobre-mi {
    width: 30%;
  }
}
@media (max-width: 768px) {
  body main .sections-container .section-sobre-mi .article-sobre-mi .texto-sobre-mi {
    width: 70%;
  }
}
@media (max-width: 576px) {
  body main .sections-container .section-sobre-mi .article-sobre-mi .texto-sobre-mi {
    width: 100%;
  }
}
body main .sections-container .section-sobre-mi .article-sobre-mi .texto-sobre-mi div {
  position: relative;
  width: 100%;
  height: 100%;
}
body main .sections-container .section-sobre-mi .article-sobre-mi .texto-sobre-mi div p {
  position: absolute;
  bottom: -150px;
  right: -350px;
  margin-top: 5px;
  padding: 20px;
  border-radius: 40px;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1.2px;
  font-size: clamp(0.5rem, 1.5vw + 0.5rem, 1.5rem);
  font-weight: 500;
  text-shadow: -1px 4px 23px rgb(0, 0, 0);
  text-rendering: optimizeLegibility;
  color: rgba(224, 224, 224, 0.8980392157);
  background-color: #040403;
  cursor: default;
}
@media (max-width: 1024px) {
  body main .sections-container .section-sobre-mi .article-sobre-mi .texto-sobre-mi div p {
    bottom: -125px;
    right: -250px;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  body main .sections-container .section-sobre-mi .article-sobre-mi .texto-sobre-mi div p {
    bottom: -210px;
    right: -20px;
  }
}
@media (max-width: 576px) {
  body main .sections-container .section-sobre-mi .article-sobre-mi .texto-sobre-mi div p {
    bottom: -100px;
    right: 0px;
    border-radius: 0px 0px 40px 40px;
    font-size: clamp(0.5rem, 1.5vw + 0.5rem, 1.5rem);
    line-height: 20px;
    box-shadow: #000 0px 0px 20px 30px;
  }
}
@media (max-width: 400px) {
  body main .sections-container .section-sobre-mi .article-sobre-mi .texto-sobre-mi div p {
    bottom: -200px;
  }
}
body main .sections-container .section-sobre-mi .article-sobre-mi .texto-sobre-mi div b {
  font-weight: 800;
  color: rgba(250, 250, 250, 0.9098039216);
}
body main .sections-container .section-sobre-mi .article-sobre-mi .imagen-sobre-mi img {
  height: 600px;
  border-radius: 84% 16% 88% 12%/14% 90% 10% 86%;
  filter: drop-shadow(30px 30px 20px rgba(0, 0, 0, 0.9098039216));
}
@media (max-width: 1024px) {
  body main .sections-container .section-sobre-mi .article-sobre-mi .imagen-sobre-mi img {
    height: 550px;
  }
}
@media (max-width: 768px) {
  body main .sections-container .section-sobre-mi .article-sobre-mi .imagen-sobre-mi img {
    height: 450px;
  }
}
@media (max-width: 576px) {
  body main .sections-container .section-sobre-mi .article-sobre-mi .imagen-sobre-mi img {
    height: 300px;
  }
}
body main .sections-container .section-proyectos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%;
  height: 1350px;
}
@media (max-width: 1400px) {
  body main .sections-container .section-proyectos {
    row-gap: 0px;
    height: 1100px;
  }
}
@media (max-width: 768px) {
  body main .sections-container .section-proyectos {
    height: 800px;
  }
}
@media (max-width: 576px) {
  body main .sections-container .section-proyectos {
    height: 600px;
  }
}
@media (max-width: 450px) {
  body main .sections-container .section-proyectos {
    height: 450px;
  }
}
body main .sections-container .section-proyectos .article-proyectos {
  max-width: 700px;
  width: 40%;
  height: 45%;
  transition: 0.5s;
}
@media (max-width: 1600px) {
  body main .sections-container .section-proyectos .article-proyectos {
    min-height: 300px;
    height: 40vw;
  }
}
@media (max-width: 576px) {
  body main .sections-container .section-proyectos .article-proyectos {
    min-height: inherit;
    height: 45%;
  }
}
body main .sections-container .section-proyectos .article-proyectos:hover {
  transform: scale(1.03);
  transition: 0.5s;
}
body main .sections-container .section-proyectos .article-proyectos .article-contenido {
  position: relative;
  width: 100%;
  height: 90%;
  border-radius: 10px;
  background-color: #120f0d;
  box-shadow: rgb(8, 5, 2) 0px 20px 30px 10px;
}
@media (max-width: 576px) {
  body main .sections-container .section-proyectos .article-proyectos .article-contenido {
    height: 40vw;
  }
}
body main .sections-container .section-proyectos .article-arriba {
  display: flex;
  align-items: flex-start;
}
body main .sections-container .section-proyectos .article-abajo {
  display: flex;
  align-items: flex-end;
}
body main .sections-container .section-conocimientos {
  width: 100%;
}
body main .sections-container .section-conocimientos .conocimientos-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
  margin: auto;
}
@media (max-width: 1300px) {
  body main .sections-container .section-conocimientos .conocimientos-container {
    width: 90%;
  }
}
@media (max-width: 576px) {
  body main .sections-container .section-conocimientos .conocimientos-container {
    width: 100%;
  }
}
body main .sections-container .section-conocimientos .conocimientos-container .conocimientos-article {
  position: sticky;
  top: 200px;
  display: flex;
  width: 100%;
  border-bottom: 5px solid #fcfcf6;
  background: rgb(18, 15, 13);
  background: linear-gradient(180deg, rgb(18, 15, 13) 28%, rgb(9, 7, 6) 86%);
}
body main .sections-container .section-conocimientos .conocimientos-container .conocimientos-article .imagen-article {
  width: 30%;
  height: 100%;
}
@media (max-width: 576px) {
  body main .sections-container .section-conocimientos .conocimientos-container .conocimientos-article .imagen-article {
    width: 40%;
  }
}
body main .sections-container .section-conocimientos .conocimientos-container .conocimientos-article .texto-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  height: 100%;
  cursor: default;
}
@media (max-width: 576px) {
  body main .sections-container .section-conocimientos .conocimientos-container .conocimientos-article .texto-article {
    width: 60%;
  }
}
body main .sections-container .section-conocimientos .conocimientos-container .conocimientos-article .texto-article h3 {
  width: 80%;
  margin: 30px 0px 0px;
  font-size: clamp(1rem, 1.2vw + 1rem, 3rem);
  font-weight: 800;
  color: #fcfcf6;
}
@media (max-width: 576px) {
  body main .sections-container .section-conocimientos .conocimientos-container .conocimientos-article .texto-article h3 {
    margin-top: 10px;
    width: 90%;
  }
}
body main .sections-container .section-conocimientos .conocimientos-container .conocimientos-article .texto-article p {
  width: 80%;
  margin-top: 12px;
  font-size: clamp(0.7rem, 1.5vw + 0.5rem, 2rem);
  font-weight: 600;
  color: #827e77;
}
@media (max-width: 576px) {
  body main .sections-container .section-conocimientos .conocimientos-container .conocimientos-article .texto-article p {
    width: 90%;
  }
}
body main .section-contactame {
  position: sticky;
  top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  width: 100%;
  height: 600px;
  background-color: #fcfcf6;
}
@media (max-width: 768px) {
  body main .section-contactame {
    height: 400px;
  }
}
@media (max-width: 576px) {
  body main .section-contactame {
    row-gap: 20px;
    height: 300px;
  }
}
body main .section-contactame .contactos-titulo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  transition: 0.2s;
}
body main .section-contactame .contactos-titulo-container:hover {
  transition: 0.2s;
  transform: scale(1.1);
}
body main .section-contactame .contactos-titulo-container:hover .link-contacto {
  color: #120f0d;
}
body main .section-contactame .contactos-titulo-container:hover .link-contacto b {
  color: #7d7d7a;
}
body main .section-contactame .contactos-titulo-container .link-contacto {
  margin: 0px;
  font-size: clamp(1rem, 1vw + 0.6rem, 3rem);
  font-weight: 700;
  color: #7d7d7a;
  transition: 0.2s;
}
@media (max-width: 576px) {
  body main .section-contactame .contactos-titulo-container .link-contacto {
    font-size: clamp(0.5rem, 1vw + 0.5rem, 3rem);
  }
}
@media (max-width: 400px) {
  body main .section-contactame .contactos-titulo-container .link-contacto {
    font-size: clamp(0.2rem, 0.5vw + 0.5rem, 2rem);
  }
}
body main .section-contactame .contactos-titulo-container .link-contacto b {
  color: #120f0d;
}
body main .section-contactame img {
  margin-left: 5px;
  width: 3vw;
}
body main .section-contactame .contactos-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 5vw;
}
@media (max-width: 576px) {
  body main .section-contactame .contactos-links {
    gap: 20px;
  }
}
body main .section-contactame .contactos-links a {
  height: 100%;
}
body main .section-contactame .contactos-links a svg {
  height: 100%;
}
body footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  font-size: clamp(1rem, 1vw + 1rem, 3.5rem);
  background-color: #120f0d;
}
@media (max-width: 576px) {
  body footer {
    height: 200px;
    font-size: clamp(0.5rem, 1vw + 0.8rem, 2.5rem);
  }
}
body footer .derechos-reservados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  font-weight: 600;
  line-height: 40px;
  color: #7d7d7a;
}
@media (max-width: 576px) {
  body footer .derechos-reservados {
    line-height: 20px;
  }
}
body footer .derechos-reservados p {
  margin: 0px 0px 0px 30%;
}
body footer .hora-local-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
body footer .hora-local-container .reloj {
  color: #7d7d7a;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
