header {
  position: sticky;
  top: 0px;
  margin: auto;
  width: 100%;
  height: 80px;
  padding: 6vh 0px;
  background-color: rgba(245, 245, 242, 0.1529411765);
  backdrop-filter: blur(10px);
  transition: 2s;
  z-index: 10;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 50px;
  font-size: clamp(0.5rem, 1.2vw + 0.5rem, 2rem);
  font-weight: 600;
  transition: 3s;
}
header nav a {
  color: #120f0d;
  opacity: 0.9;
  transition: 0.2s;
}
header nav a:hover {
  color: #F28C5C;
  transition: 0.2s;
}
header nav hr {
  position: absolute;
  bottom: 0px;
  margin: 0px;
  width: 20%;
  height: 4px;
  border: none;
  border-radius: 50px;
  background-color: #120f0d;
  opacity: 0.9;
  transition: 5s;
}
header nav hr:hover {
  background-color: #fcfcf6;
}

.scrollAbajo {
  background-color: rgba(249, 246, 230, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.scrollAbajo nav {
  transform: translateX(23%);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Onest", sans-serif;
  background-color: rgb(243, 243, 228);
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 18px;
}
body main .hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0px 0px 100px;
  margin: 0px auto 200px;
  width: 100%;
}
@media (max-width: 1024px) {
  body main .hero-section {
    top: 100px;
    width: 85%;
  }
}
@media (max-width: 768px) {
  body main .hero-section {
    width: 90%;
    padding: 0px 0px 480px;
  }
}
body main .hero-section .presentacion-hero-section {
  width: 1000px;
  height: 70%;
  margin-bottom: 40px;
  cursor: default;
}
@media (max-width: 1024px) {
  body main .hero-section .presentacion-hero-section {
    width: 100%;
  }
}
body main .hero-section .presentacion-hero-section h1 {
  display: inline-block;
  margin-bottom: 30px;
  font-size: clamp(1rem, 2vw + 1rem, 4rem);
  font-weight: 800;
  color: rgba(28, 28, 180, 0.8);
}
@media (max-width: 1024px) {
  body main .hero-section .presentacion-hero-section h1 {
    font-size: clamp(1.5rem, 2vw + 1.5rem, 3rem);
  }
}
@media (max-width: 768px) {
  body main .hero-section .presentacion-hero-section h1 {
    font-size: clamp(1rem, 2vw + 1.5rem, 2.5rem);
  }
}
@media (max-width: 576px) {
  body main .hero-section .presentacion-hero-section h1 {
    margin-bottom: 10px;
    font-size: clamp(0.5rem, 4vw + 0.5rem, 3rem);
  }
}
body main .hero-section .presentacion-hero-section .emoji-titulo {
  width: 150px;
  margin-top: 70px;
}
@media (max-width: 1024px) {
  body main .hero-section .presentacion-hero-section .emoji-titulo {
    width: 100px;
  }
}
@media (max-width: 576px) {
  body main .hero-section .presentacion-hero-section .emoji-titulo {
    width: 30px;
  }
}
body main .hero-section .presentacion-hero-section .corchete-izq {
  margin-left: 20px;
  font-size: clamp(3rem, 2vw + 3rem, 6rem);
  font-weight: 700;
  color: #844984;
}
@media (max-width: 576px) {
  body main .hero-section .presentacion-hero-section .corchete-izq {
    margin-left: 10px;
    font-size: clamp(1.5rem, 2vw + 1.5rem, 4rem);
  }
}
body main .hero-section .presentacion-hero-section .corchete-der {
  margin-left: 5px;
  color: #844984;
  font-size: 1.3em;
  font-weight: 700;
}
body main .hero-section .presentacion-hero-section .descripcion {
  width: 100%;
  margin-bottom: 50px;
  font-size: clamp(0.7rem, 1vw + 0.8rem, 2rem);
  line-height: 45px;
  color: rgba(17, 17, 17, 0.7019607843);
}
body main .hero-section .presentacion-hero-section .descripcion .naranja {
  color: #F28C5C;
}
@media (max-width: 1024px) {
  body main .hero-section .presentacion-hero-section .descripcion {
    margin-top: 5px;
    font-size: clamp(0.7rem, 1.5vw + 0.7rem, 2.2rem);
    line-height: 40px;
  }
}
@media (max-width: 768px) {
  body main .hero-section .presentacion-hero-section .descripcion {
    font-size: clamp(0.5rem, 1vw + 1rem, 1.5rem);
    line-height: normal;
  }
}
@media (max-width: 576px) {
  body main .hero-section .presentacion-hero-section .descripcion {
    font-size: clamp(0.5rem, 1vw + 1rem, 2rem);
  }
}
@media (max-width: 400px) {
  body main .hero-section .presentacion-hero-section .descripcion {
    font-size: clamp(0.5rem, 1vw + 0.5rem, 1.5rem);
  }
}
body main .hero-section .presentacion-hero-section .skills-stack {
  display: flex;
  gap: 50px;
  font-size: clamp(1rem, 1vw + 0.8rem, 4rem);
  font-weight: 800;
  color: #120f0d;
  cursor: default;
}
@media (max-width: 576px) {
  body main .hero-section .presentacion-hero-section .skills-stack {
    gap: 20px;
  }
}
body main .hero-section .presentacion-hero-section .skills-stack .svg-tech {
  display: flex;
  gap: 40px;
}
@media (max-width: 576px) {
  body main .hero-section .presentacion-hero-section .skills-stack .svg-tech {
    gap: 30px;
  }
}
body main .hero-section .presentacion-hero-section .skills-stack .svg-tech svg {
  width: 30px;
  height: 30px;
}
@media (max-width: 576px) {
  body main .hero-section .presentacion-hero-section .skills-stack .svg-tech svg {
    width: 25px;
    height: 25px;
  }
}
body main .sections-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  padding: 50px 0px 0px;
  border-radius: 30px 30px 0px 0px;
  z-index: 1;
}
body main .sections-container .titulo-section {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: auto;
  margin-bottom: 200px;
  gap: 10px;
  width: 45%;
  height: 100px;
  padding: 12vh 30px 4vh 0px;
  border-radius: 0px 40px 40px 0px;
  background: rgb(2, 0, 36);
  background: linear-gradient(133deg, rgba(2, 0, 36, 0.7) 0%, rgba(9, 9, 121, 0.7) 24%, rgba(3, 135, 204, 0.7) 71%, rgba(0, 212, 255, 0.7) 100%);
  backdrop-filter: blur(10px);
  z-index: 100;
  cursor: default;
  color: #fcfcf6;
}
body main .sections-container .titulo-section h2 {
  margin: 0px;
  font-size: clamp(2rem, 1.5vw + 1.5rem, 3rem);
  color: #120f0d;
}
@media (max-width: 768px) {
  body main .sections-container .titulo-section h2 {
    font-size: clamp(1rem, 1vw + 1rem, 2.5rem);
  }
}
body main .sections-container .titulo-section .emoji-section {
  width: 80px;
  margin: 0px 0px 10px;
}
@media (max-width: 1024px) {
  body main .sections-container .titulo-section .emoji-section {
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  body main .sections-container .titulo-section .emoji-section {
    width: 60px;
    margin-bottom: 5px;
  }
}
@media (max-width: 576px) {
  body main .sections-container .titulo-section .emoji-section {
    width: 40px;
    margin: 0px 0px 5px;
  }
}
body main .sections-container .titulo-section .emoji-sobre-mi {
  margin-left: 10px;
  margin-right: 10px;
  width: 70px;
}
@media (max-width: 768px) {
  body main .sections-container .titulo-section .emoji-sobre-mi {
    width: 50px;
    margin-bottom: 0px;
  }
}
@media (max-width: 576px) {
  body main .sections-container .titulo-section .emoji-sobre-mi {
    width: 40px;
  }
}
body main .sections-container .titulo-section span {
  font-size: clamp(2rem, 2vw + 2rem, 7rem);
  font-weight: 600;
  margin: 0px 0px 5px;
}
@media (max-width: 768px) {
  body main .sections-container .titulo-section span {
    font-size: clamp(0.5rem, 1.5vw + 1rem, 5rem);
  }
}
body main .sections-container .titulo-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.2) -8px 12px 40px 0px, rgba(0, 0, 0, 0.2) 7px 15px 20px -5px;
}
body main .sections-container .titulo-segundo-color {
  background: rgb(35, 65, 13);
  background: linear-gradient(133deg, rgba(23, 44, 8, 0.7) 0%, rgba(118, 175, 102, 0.7) 40%, rgba(164, 226, 169, 0.7) 100%);
}
body main .sections-container .titulo-tercer-color {
  background: rgb(115, 57, 4);
  background: linear-gradient(133deg, rgba(115, 57, 4, 0.7) 0%, rgba(187, 98, 23, 0.7) 42%, rgba(240, 178, 133, 0.7) 100%);
}
body main .sections-container .section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 400px;
  width: 100%;
}
body main .sections-container .section .article {
  position: sticky;
  top: 180px;
  width: 90%;
  height: 65vh;
  border-radius: 40px;
  margin-bottom: 400px;
  background-color: #9a2020;
  transition: 0.5s;
  view-timeline-name: --article;
  view-timeline-axis: block;
  animation-timeline: --article;
  animation-name: show;
  animation-range: entry 0% cover 30%;
}
body main .sections-container .section .segundo-article {
  top: 230px;
  width: 92%;
  background-color: #844984;
}
body main .sections-container .section .tercer-article {
  top: 280px;
  width: 94%;
  background-color: lightblue;
}
body main .sections-container .section .cuarto-article {
  top: 320px;
  width: 96%;
  background-color: lightcoral;
}
body main .sections-container .section .article-que-se-hacer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
  gap: 30px;
  width: auto;
  padding: 2vh 7vw;
  background-color: #222;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 22px 70px 4px;
}
body main .sections-container .section .article-que-se-hacer .div-que-se-hacer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 85%;
  border-radius: 50px;
  background: rgb(115, 57, 4);
  background: linear-gradient(140deg, rgb(238, 152, 71) 0%, rgb(187, 98, 23) 50%, rgb(124, 26, 18) 90%);
  transition: 0.2s;
}
body main .sections-container .section .article-que-se-hacer .div-que-se-hacer p {
  writing-mode: vertical-lr;
  font-size: 1.2rem;
  font-weight: 700;
  color: #120f0d;
  transform: rotate(180deg);
}
body main .sections-container .section .article-sobre-mi {
  margin-bottom: 400px;
}
body main .section-contactame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 200px;
  row-gap: 20px;
  width: 100%;
  transition: 0.2s;
}
@media (max-width: 768px) {
  body main .section-contactame {
    height: 400px;
  }
}
@media (max-width: 576px) {
  body main .section-contactame {
    row-gap: 20px;
    height: 300px;
  }
}
body main .section-contactame:hover {
  transition: 0.2s;
  transform: scale(1.1);
}
body main .section-contactame:hover .contactos-titulo-container .titulo-contacto {
  color: #120f0d;
}
body main .section-contactame:hover .contactos-titulo-container .titulo-contacto b {
  color: #7d7d7a;
}
body main .section-contactame .contactos-titulo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  transition: 0.2s;
}
body main .section-contactame .contactos-titulo-container .titulo-contacto {
  margin: 0px;
  font-size: clamp(1rem, 1vw + 0.6rem, 3rem);
  font-weight: 700;
  color: #7d7d7a;
  transition: 0.2s;
}
@media (max-width: 576px) {
  body main .section-contactame .contactos-titulo-container .titulo-contacto {
    font-size: clamp(0.5rem, 1vw + 0.5rem, 3rem);
  }
}
@media (max-width: 400px) {
  body main .section-contactame .contactos-titulo-container .titulo-contacto {
    font-size: clamp(0.2rem, 0.5vw + 0.5rem, 2rem);
  }
}
body main .section-contactame .contactos-titulo-container .titulo-contacto b {
  color: #120f0d;
}
body main .section-contactame .contactos-titulo-container img {
  margin-left: 5px;
  width: 3vw;
}
body main .section-contactame .link-email {
  font-size: clamp(0.5rem, 1vw + 0.5rem, 2rem);
  font-weight: 700;
  color: #120f0d;
  transition: 0.2s;
}
body main .section-contactame .link-email b {
  color: #F28C5C;
  transition: 0.2s;
}
body main .section-contactame .link-email:hover {
  color: rgb(41, 79, 155);
}
body main .section-contactame .link-email:hover b {
  color: rgb(41, 79, 155);
}
body main .section-contactame .contactos-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 5vw;
}
@media (max-width: 576px) {
  body main .section-contactame .contactos-links {
    gap: 20px;
  }
}
body main .section-contactame .contactos-links a {
  height: 70%;
}
body main .section-contactame .contactos-links a:hover svg {
  fill: rgb(36, 63, 122);
  transform: scale(1.1);
}
body main .section-contactame .contactos-links a svg {
  height: 100%;
  fill: #120f0d;
  transition: 0.2s;
}
body main .section-contactame .form p {
  font-size: clamp(1.5rem, 1vw + 1rem, 5rem);
}
body footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  font-size: clamp(1rem, 1vw + 1rem, 3.5rem);
  background-color: #120f0d;
}
@media (max-width: 576px) {
  body footer {
    height: 200px;
    font-size: clamp(0.5rem, 1vw + 0.8rem, 2.5rem);
  }
}
body footer .derechos-reservados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  font-weight: 600;
  line-height: 40px;
  color: #7d7d7a;
}
@media (max-width: 576px) {
  body footer .derechos-reservados {
    line-height: 20px;
  }
}
body footer .derechos-reservados p {
  margin: 0px 0px 0px 30%;
}
body footer .hora-local-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
body footer .hora-local-container .reloj {
  color: #7d7d7a;
}

a {
  text-decoration: none;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

/*# sourceMappingURL=stle.css.map */
