@import "header";
@import "hero-section";
@import "sections";

// colores base predominantes de la pagina

$color-claro: #fcfcf6;
$color-naranja: #F28C5C;
$color-marron-oscuro: #120f0d;

//colores de las letras

$color-oscuro-letras: #120f0d;
$color-azul-letras:  #1c1cb4cc;
$color-violeta-corchetes: #844984;
$color-grisaceo-letras: #7d7d7a;

html {
    scroll-behavior: smooth;
}
  
*{
    box-sizing: border-box;
}

body{
    margin: 0px;

    font-family: "Onest", sans-serif;

    background-color: rgb(243, 243, 228);
    // background-color: $color-claro;
    
    overflow-x: hidden;
    
    // filter: sepia(.1);
    
    &::-webkit-scrollbar {
        width: 8px;
        background-color: $color-marron-oscuro;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: rgb(243, 243, 228);
    }

    footer{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 250px;
    
    font-size: clamp(1rem, 1vw + 1rem, 3.5rem);
    
    background-color: $color-marron-oscuro;
    
    @media (max-width: 576px) {
        height: 200px;

        font-size: clamp(.5rem, 1vw + .8rem, 2.5rem);
    }
    
    .derechos-reservados{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        width: 33.3%;
        height: 100%;

        font-weight: 600;
        line-height: 40px;

        color: $color-grisaceo-letras;

        @media (max-width: 576px) {
            line-height: 20px;
        }

        p{
            margin: 0px 0px 0px 30%;
        }
    }

    .disponibilidad {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 33.3%;
        height: 100%;

        .texto-disponibilidad {
            font-weight: 600;
            line-height: 40px;
    
            color: $color-grisaceo-letras;
        }

        .div-disponibilidad {
            margin-left: 15px;

            width: 1.26vw;
            height: 25px;

            border-radius: 50%;

            background-color: #1cbe29;

            transition: .2s;
        }
    }
    
    .hora-local-container{
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 33.3%;
        height: 100%;
    
        .reloj{
            font-weight: 600;

            color: $color-grisaceo-letras;
        }
    }
    }
}


a{
text-decoration: none;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to{
        opacity: 1;
        scale: 100%;
    }
}